<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <div class="error-list">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prevented
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', posts_index_path, class: 'cancel-new-post' %>
  </p>
<% end %>
